# Pandas Fast Course

## Read data from Kaggle URL

In [3]:
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter

file_path = "store_sales.csv"

df = kagglehub.dataset_load(
    KaggleDatasetAdapter.PANDAS,
    "hassanjameelahmed/store-sales",
    file_path
)

df.head()

,CustomerID,Age,Gender,Category,ItemPurchased,Amount,Season,PaymentMethod,ItemRating,DiscountApplied(%),PreviousPurchases
0,1,58,Female,Accessories,Handbag,115.50,Autumn,Card,3.5,18,4
1,2,40,Male,Mens Clothing,Shirt,103.43,Spring,Card,4.1,13,4
2,3,66,Female,Sports,Football,35.45,Spring,Card,3.3,11,3
3,4,39,Female,Accessories,Handbag,153.31,Spring,Card,4.4,13,4
4,5,23,Female,Home,Curtains,151.43,Winter,Card,4.1,20,10

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Gender              5000 non-null   str
 3   Category            5000 non-null   str
 4   ItemPurchased       5000 non-null   str
 5   Amount              5000 non-null   float64
 6   Season              5000 non-null   str
 7   PaymentMethod       5000 non-null   str
 8   ItemRating          5000 non-null   float64
 9   DiscountApplied(%)  5000 non-null   int64
 10  PreviousPurchases   5000 non-null   int64
dtypes: float64(2), int64(4), str(5)
memory usage: 429.8 KB

In [5]:
df.describe()

,CustomerID,Age,Amount,ItemRating,DiscountApplied(%),PreviousPurchases
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,45.224800,285.090522,3.784160,14.983600,5.008800
std,1443.520003,14.564995,551.454382,0.681796,5.988063,2.194285
min,1.000000,20.000000,5.080000,1.100000,0.000000,0.000000
25%,1250.750000,33.000000,70.547500,3.300000,11.000000,3.000000
50%,2500.500000,45.000000,122.485000,3.800000,15.000000,5.000000
75%,3750.250000,58.000000,184.535000,4.300000,19.000000,6.000000
max,5000.000000,70.000000,2997.940000,5.000000,36.000000,13.000000

In [13]:
df.rename(columns={"DiscountApplied(%)": "Disccount"}, inplace=True)
df

,CustomerID,Age,Gender,Category,ItemPurchased,Amount,Season,PaymentMethod,ItemRating,Disccount,PreviousPurchases
0,1,58,Female,Accessories,Handbag,115.50,Autumn,Card,3.5,18,4
1,2,40,Male,Mens Clothing,Shirt,103.43,Spring,Card,4.1,13,4
2,3,66,Female,Sports,Football,35.45,Spring,Card,3.3,11,3
3,4,39,Female,Accessories,Handbag,153.31,Spring,Card,4.4,13,4
4,5,23,Female,Home,Curtains,151.43,Winter,Card,4.1,20,10
...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,44,Female,Accessories,Sunglasses,172.64,Winter,Card,3.6,20,5
4996,4997,59,Male,Groceries,Beverages,54.00,Spring,Cash on Delivery,3.8,14,2
4997,4998,41,Female,Accessories,Handbag,159.33,Autumn,Card,4.3,26,8
4998,4999,63,Female,Womens Clothing,Skirt,173.82,Autumn,Card,4.8,26,8
4999,5000,41,Female,Footwear,Sandals,55.39,Autumn,Cash on Delivery,4.1,19,7

In [27]:
# 1
df_uno =  df[ df["PreviousPurchases"] > 5 ]

# 2
df_dos = df[ df["ItemPurchased"].isin(["Shirt", "Sunglasses"]) ]

# 3
df_tres = df[

,CustomerID,Age,Gender,Category,ItemPurchased,Amount,Season,PaymentMethod,ItemRating,Disccount,PreviousPurchases
1,2,40,Male,Mens Clothing,Shirt,103.43,Spring,Card,4.1,13,4
44,45,53,Female,Accessories,Sunglasses,164.67,Autumn,Card,2.6,14,7
46,47,22,Male,Mens Clothing,Shirt,62.69,Winter,Card,3.6,4,2
59,60,58,Male,Mens Clothing,Shirt,82.99,Spring,Cash on Delivery,4.4,9,2
76,77,70,Male,Mens Clothing,Shirt,96.18,Autumn,Card,2.7,20,5
...,...,...,...,...,...,...,...,...,...,...,...
4921,4922,25,Female,Accessories,Sunglasses,33.38,Autumn,Card,3.5,8,4
4928,4929,36,Female,Accessories,Sunglasses,141.63,Autumn,Card,4.4,17,6
4962,4963,59,Female,Accessories,Sunglasses,67.83,Winter,Cash on Delivery,2.7,13,4
4989,4990,39,Female,Accessories,Sunglasses,147.24,Winter,Card,3.7,4,2
4995,4996,44,Female,Accessories,Sunglasses,172.64,Winter,Card,3.6,20,5